/*sourced from https://unsplash.com/photos/jR4Zf-riEjI*/
*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('../images/background-1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    animation: fadeIn 0.7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
}


/*hero styling*/

.hero{
    padding-top: 10%;;
    display: flex;
    justify-content: center;
}

.hero-content {
    background: rgba(0,0,0,0.7);
    text-align: center;
    height: 150px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}

.profile{
    width: 150px;
}

/*button styling*/

nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 5% 300px auto 300px;
}

nav button{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}

/* skills stlying */

#skills{
    margin: 20% 100px auto 100px;
    height: 100px;
    padding: 0 30px 0 30px;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}


/* projects styling */

#projects{
    display: flex;
    margin: 10% 100px auto 100px;
    justify-content: space-between;
}

.project-spotlight{
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    width: 600px;
    height: 300px;
}

.project-spotlight h2{
    text-align: center;
}

.run-buddy{
    height: 200px;
    padding-left: 50px;
    float: left;
}

.sidebar-projects{
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    width: 350px;
    height: 300px;
}
.mini-project{
    text-align: center;
}

.mini-project a{
    text-decoration: none;
    color: white;
}

.project-spotlight a{
    text-decoration: none;
    color: white;
}

#contact-me{
    background: rgba(0,0,0,0.7);
    width: 84%;
    margin-left: 8%;
    border-radius: 15px;
    text-align: center;
}

#contact-me h2{
    padding-top: 20px;
}

#contact-me ul{
    display: flex;
    justify-content: space-between;
    padding: 25px 150px 50px 150px;
}

#contact-me ul li{
    list-style-type: none;
}


@media screen and (max-width: 980px) {
    .info-buttons {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 768px) {
    #skills, #contact-me{
        font-size: 18px;
    }

    .run-buddy{
        height: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .project-spotlight span{
        padding-left: 15px;
    }

    .project-spotlight{
        width: 400px;
    }

    #contact-me ul{
        padding: 15px 10px 15px 10px;
    }
}

@media screen and (max-width: 575px) {
    .hero-content{
        line-height: 35px;
    }

    nav {
        display: flex;
        justify-content: center;
        width: auto;
    }

    #skills{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
    }

    #contact-me ul{
        padding: 5px 10px 5px 10px;
    }

    .project-spotlight{
        height: auto;
        padding: 10px 10px 10px 10px;
    }

    .run-buddy{
        float:none;
        display: block;
        padding-left:50px;
        padding-bottom: 20px;
    }
    
    .sidebar-projects{
        height: auto;
        width: 400px;
        padding: 10px 10px 10px 10px;
    }
}

/* slow fade: https://www.codegrepper.com/code-examples/css/how+to+make+slow+fade+appear+in+css */
